<app-menu></app-menu>

<div class="container" *ngIf="usuario">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    Detalle usuario
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Nombre: </b>{{usuario.nombre}}</li>
                        <li class="list-group-item"><b>Apellido 1: </b>{{usuario.apellido1}}</li>
                        <li class="list-group-item"><b>Telefono: </b>{{usuario.telefono}}</li>
                        <li class="list-group-item"><b>Email: </b>{{usuario.email}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary w-100" routerLink="/usuarios">
                        <i class="fas fa-arrow-alt-circle-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
