<header class="bg-dark container-fluid">
    <div id="logoDiv" class="">
        <img id="logo" src="./assets/fire-gc66eac54f_1280.png" class="w-100">
    </div>
    <nav class="col-8 col-md-6 navbar navbar-light navbar-expand-lg">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="/torneos">Torneos</a></li>
            <li><a href="/equipos">Equipos</a></li>
        </ul>
    </nav>
    <div id="user">
        <a href="/login"><img src="./assets/perfil-de-usuario-en-blanco.png"></a>
    </div>
</header>