<header class="bg-dark container-fluid">
    <div id="logoDiv">
        <img id="logo" src="./assets/fire-gc66eac54f_1280.png">
        <h2 class="align-self-center text-light">LEA</h2>
    </div>
    <nav class="col-8 navbar navbar-light navbar-expand-lg">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Torneos</a></li>
            <li><a href="">Equipos</a></li>
        </ul>
    </nav>
    <div id="user">
        <a href=""><img src="./assets/perfil-de-usuario-en-blanco.png"></a>
    </div>
</header>