header{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 65% 15%;
    
    #logoDiv{
        grid-column: 1/2;
        display: grid;
        justify-content: center;
        #logo{
            width: 200px;
        }
        h2{
            justify-self: center;
        }
    }

    nav{
        display: flex;
        flex-direction: row;
        grid-column: 2/3;
        justify-self: start;
        width: 100%;
        ul{
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            li{
                display: flex;
                flex-grow: 1;
                
                a{
                    display: flex;
                    justify-content: center;
                    flex-grow: 1;
                    text-decoration: none;
                    color: white;
                    font-size: large;
                }
            }
        }
    }
    #user{
        justify-self: center;
        align-self: center;
    }
}