<app-menu></app-menu>

<div class="container" *ngIf="torneo">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    Detalle Torneo
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Nombre: </b>{{torneo.nombre}}<div></div></li>
                        <li class="list-group-item"><b>Fecha Inicio: </b>{{torneo.fecha_inicio}}</li>
                        <li class="list-group-item"><b>Deporte: </b>{{torneo.deporte}}</li>
                        <li class="list-group-item"><b>Nivel: </b>{{torneo.nivel}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary w-100" routerLink="/torneos">
                        <i class="fas fa-arrow-alt-circle-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>