<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h4 class="text-center">Modificar Torneo</h4>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="mb-3">
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="nombre"
                        autocomplete="off" required [(ngModel)]="torneo.nombre">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" placeholder="fecha_inicio"
                        autocomplete="off" required [(ngModel)]="torneo.fecha_inicio">
                </div>
                <div class="mb-3">
                    <select name="miselect" [(ngModel)]="lista" autofocus sele>
                        <option [value]="item" *ngFor="let item of lista">{{item}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="nivel" name="nivel" placeholder="nivel"
                        autocomplete="off" required [(ngModel)]="torneo.nivel">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="nivel" name="tamano" placeholder="tamano"
                        autocomplete="off" required [(ngModel)]="torneo.tamano">
                </div>
                <button class="btn btn-outline-success w-100 mb-3" [disabled]="!f.valid">
                        <i class="far fa-edit"></i> Update
                </button>
                <button class="btn btn-outline-primary w-100" routerLink="/torneos">
                    <i class="fas fa-arrow-alt-circle-left"></i> Back
                </button>
            </form>
        </div>
    </div>
</div>