<app-menu></app-menu>

<div class="container" *ngIf="equipo">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    Detail
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID: </b>{{equipo.id}}</li>
                        <li class="list-group-item"><b>Nombre: </b>{{equipo.nombre}}<div></div>
                        </li>
                        <li class="list-group-item"><b>Descripción: </b>{{equipo.descripcion}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary w-100" routerLink="/equipos">
                        <i class="fas fa-arrow-alt-circle-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="jugadores">
            <h2>Jugadores</h2>
            <div class="table-responsive">
                <table class="table table-striped table-dark table-hover text-center mt-5">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido 1</th>
                            <th scope="col">Apellido 2</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let jugador of jugadores">
                            <th>{{jugador.id}}</th>
                            <td>{{jugador.nombre}}</td>
                            <td>{{jugador.apellido1}}</td>
                            <td>{{jugador.apellido2}}</td>
                            <td>{{jugador.usuario}}</td>
                            <td>{{jugador.email}}</td>
                            <td>{{jugador.telefono}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>