<app-menu></app-menu>
<article>
    <h2 class="mb-4 mt-4 text-center ">Torneos Activos</h2>
    <div class="row ">
        <section class="col d-flex flex-row justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/volleyball.png" class="card-img-top" alt="...">
                <div class="container-fluid card-body">
                    <h5 class="card-title">Clasificatorio Regional Málaga</h5>
                    <p class="card-text">Restantes: 4 plazas<br>Finaliza: 24/10</p>
                    <a href="#" class="btn btn-primary">Ver Torneo</a>
                </div>
            </div>
        </section>
        <section class="col d-flex flex-row justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/baloncesto.png" class="card-img-top" alt="...">
                <div class="container-fluid card-body">
                    <h5 class="card-title">Clasificatorio Regional Málaga</h5>
                    <p class="card-text">Restantes: 4 plazas<br>Finaliza: 24/10</p>
                    <a href="#" class="btn btn-primary">Ver Torneo</a>
                </div>
            </div>
        </section>
        <section class="col d-flex flex-row justify-content-center mb-4">
            <div class="card" style="width: 18rem;">
                <img src="./assets/en-todo-el-mundo.png" class="card-img-top" alt="...">
                <div class="card-body container-fluid">
                    <h5 class="card-title">Clasificatorio Regional Málaga</h5>
                    <p class="card-text">Restantes: 4 plazas<br>Finaliza: 24/10</p>
                    <a href="#" class="btn btn-primary">Ver Torneo</a>
                </div>
            </div>
        </section>
    </div>
</article>
<article>
    <h2>Top Categorías</h2>
    <div class="d-flex flex-row flex-wrap">
        <div class="col-md-3 col-sm-6 mb-4">
            <a><img src="./assets/mountaineering-gd6528b388_1920.jpg"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a class=""><img src="./assets/running-track-g2b479f81d_1920.jpg"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a class=""><img src="./assets/soccer-gb889d43ab_1920.jpg"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a class=""><img src="./assets/boy-g121c8c402_1920.jpg"></a>
        </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="col-md-3 col-sm-6 mb-4">
            <a><img src="./assets/baloncesto-1.jpg"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a class=""><img src="./assets/paddle-rackets-g5f75f6b2a_1920.jpg"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a class=""><img src="./assets/1438689415_extras_noticia_foton_7_0.jpg"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
            <a class=""><img src="./assets/skater-gafade0495_1920.jpg"></a>
        </div>
    </div>
</article>
<article class="d-flex flex-row justify-content-around flex-wrap">
    <button type="button" class="btn-dark mb-3"><a>Registar tu equipo</a></button>
    <button type="button" class="btn-dark btn-lg mb-3"><a>Inscribete a los mejores torneos</a></button>
    <button type="button" class="btn-dark btn-lg mb-3"><a>Crea tu propio torneo</a></button>
</article>